@keyframes task-smooth-fade-in {
    0% {
        opacity: 0;
        transform: translateX(-$m-size);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes container-smooth-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: smooth-fade-out .5s ease-in-out 0s 1;
}

@keyframes smooth-fade-out {
    0% {
        opacity: 1;
        transform: translateY($m-size);
    }
    100% {
        opacity: 0;
        transform: translateY(0);
    }
}